<!DOCTYPE html>
<html lang="en">
<?php include $view_path . '/common/head.html'?>
<body>
<?php include $view_path . '/common/headbar.html'?>
<div class="main-container" id="main-container">
    <div class="main-container-inner">
        <?php include $view_path . '/common/navbar.html'?>

        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/admin/index/index">控制板</a>
                    </li>
                </ul>
            </div>

            <div class="page-content">
                <div class="page-header">
                    <h1>
                        控制台
                    </h1>
                </div><!-- /.page-header -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include $view_path . '/common/foot.html'?>
</body>
</html>