        <!--[if !IE]> -->
        <script src="/assets/js/jquery-2.0.3.min.js"></script>
        <!-- <![endif]-->
        <!--[if IE]>
        <script src="/assets/js/jquery-1.10.2.min.js"></script>
        <![endif]-->

        <script type="text/javascript">
            if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
        </script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/bootbox.min.js"></script>
        <script src="/assets/js/ace-elements.min.js"></script>
        <script src="/assets/js/ace.min.js"></script>
        <script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
        <script type="text/javascript">
        var umeditor_default = {
            imageUrl:"/ajax/ueditor/upload"             //图片上传提交地址
            ,imagePath:"/upload"                       //图片修正地址，引用了fixedImagePath,如有特殊需求，可自行配置
            ,imageFieldName:"upfile"                   //图片数据的key,若此处修改，需要在后台对应文件修改对应参数
            ,toolbar:[
                'source | undo redo | bold italic underline strikethrough | forecolor backcolor | removeformat |',
                'insertorderedlist insertunorderedlist | paragraph fontfamily fontsize' ,
                '| justifyleft justifycenter justifyright justifyjustify |',
                'link unlink | image video preview'
            ]
        };
        bootbox.setDefaults({
            locale: "zh_CN",
            animate: false
        });
        bootbox.loading = function() {
            return bootbox.dialog({
                closeButton: false,
                message: '<div class="progress progress-striped active" style="margin:0"><div class="progress-bar progress-bar-success" style="width:100%"></div></div>'
            });
        }

        bootbox.bindConfirmEvent = function(btn, label, request_uri, confirm_message_callback) {
            $('[data-btn='+btn+']').on(ace.click_event, function() {
                var id      = $(this).parents('tr').attr('data-id');
                var message = confirm_message_callback( $(this) );

                bootbox.confirm(message, function(res){
                    if ( ! res) return;

                    var loading = bootbox.loading();
                    $.ajax ({
                        type:'POST',
                        data: {id: id},
                        dataType:'json',
                        url: request_uri,
                        success: function(response) {
                            bootbox.alert(response.message, function() {
                                if ( ! response.code ) window.location.reload();
                            });
                        },
                        error: function() {
                            bootbox.alert('服务器问题，请重试');
                        },
                        complete:function() {
                            loading.modal('hide');
                        }
                    });
                });
            });
        }

        bootbox.bindDobuleFrameEvent = function(btn, request_uri, handler_uri, title_callback) {
            $('[data-btn=edit]').on(ace.click_event, function() {
                var id      = $(this).parents('tr').attr('data-id');
                var title   = title_callback( $(this) );
                var loading = bootbox.loading();
                $.ajax ({
                    type:'POST',
                    data: {id: id},
                    dataType:'json',
                    url: request_uri,
                    success: function(response) {
                        if ( response.code ) bootbox.alert( response.message );
                        var form_dialog = bootbox.dialog({
                            title: title,
                            message: response.data,
                            onEscape: function() {
                                return true;
                            },
                            buttons: {
                                success: {
                                    label: "保存",
                                    className: "btn-success",
                                    callback: function () {
                                        data = document.buildFormJson( form_dialog.find('form') )
                                        
                                        var loading = bootbox.loading();
                                        $.ajax ({
                                            type:'POST',
                                            data: data,
                                            dataType:'json',
                                            url: handler_uri,
                                            success: function(response) {
                                                bootbox.alert(response.message, function() {
                                                    if ( ! response.code ) window.location.reload();
                                                });
                                            },
                                            error: function() {
                                                bootbox.alert('服务器问题，请重试');
                                            },
                                            complete:function() {
                                                loading.modal('hide');
                                            }
                                        });
                                        return false;
                                    }
                                }
                            }
                        });
                    },
                    error: function() {
                        bootbox.alert('服务器问题，请重试');
                    },
                    complete:function() {
                        loading.modal('hide');
                    }
                });
            });
        }

        document.buildFormJson = function(form) {
            var o = {};
            var a = form.serializeArray();
            $.each(a, function () {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        }
        </script>