        <div class="sidebar" id="sidebar">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
                try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
            </script>
            <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <a class="btn btn-info" href="/community">
                        <i class="icon-home"></i>
                    </a>

                    <a class="btn btn-warning" href="/family">
                        <i class="icon-group"></i>
                    </a>

                    <a class="btn btn-danger" href="/discuss">
                        <i class="icon-comments"></i>
                    </a>

                    <a class="btn btn-success" href="/survey">
                        <i class="icon-signal"></i>
                    </a>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                </div>
            </div><!-- #sidebar-shortcuts -->
            <ul class="nav nav-list">
                <li class="active">
                    <a href="/">
                        <i class="icon-dashboard"></i>
                        <span class="menu-text"> 控制台 </span>
                    </a>
                </li>

                <li>
                    <a href="/setting">
                        <i class="icon-cog"></i>
                        <span class="menu-text"> 平台配置 </span>
                    </a>
                </li>

                <li>
                    <a href="/community">
                        <i class="icon-home"></i>
                        <span class="menu-text"> 小区管理 </span>
                    </a>
                </li>

                <li>
                    <a href="/family">
                        <i class="icon-group"></i>
                        <span class="menu-text"> 住户管理 </span>
                    </a>
                </li>

                <li>
                    <a href="/activity">
                        <i class="icon-envelope"></i>
                        <span class="menu-text"> 小区动态 </span>
                    </a>
                </li>

                <li>
                    <a href="/call">
                        <i class="icon-camera"></i>
                        <span class="menu-text"> 公众报修 </span>
                    </a>
                </li>

                <li>
                    <a href="/payment">
                        <i class="icon-credit-card"></i>
                        <span class="menu-text"> 缴费清单 </span>
                    </a>
                </li>

                <li>
                    <a href="/package">
                        <i class="icon-briefcase"></i>
                        <span class="menu-text"> 快递收发 </span>
                    </a>
                </li>

                <li>
                    <a href="/item">
                        <i class="icon-food"></i>
                        <span class="menu-text"> 社区福利 </span>
                    </a>
                </li>

                <li>
                    <a href="/shop">
                        <i class="icon-coffee"></i>
                        <span class="menu-text"> 周边优惠 </span>
                    </a>
                </li>

                <!-- <li>
                    <a href="/survey">
                        <i class="icon-signal"></i>
                        <span class="menu-text"> 在线调查 </span>
                    </a>
                </li> -->

                <li>
                    <a href="/discuss">
                        <i class="icon-comments"></i>
                        <span class="menu-text"> 灌水管理 </span>
                    </a>
                </li>

                <li>
                    <a href="/servicefeedback">
                        <i class="icon-comments"></i>
                        <span class="menu-text"> 物业评价 </span>
                    </a>
                </li>
                <li>
                    <a href="/feedback">
                        <i class="icon-comments"></i>
                        <span class="menu-text"> 软件评价 </span>
                    </a>
                </li>
                <li>
                    <a href="/appupdate">
                        <i class="icon-cog"></i>
                        <span class="menu-text"> 版本管理 </span>
                    </a>
                </li>
                <li>
                    <a href="/manager">
                        <i class="icon-group"></i>
                        <span class="menu-text"> 管理权限 </span>
                    </a>
                </li>
            </ul><!-- /.nav-list -->

            <div class="sidebar-collapse" id="sidebar-collapse">
                <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
            </div>

            <script type="text/javascript">
                try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
            </script>
        </div>